
<section id="bulma-book" class="bd-book-banner hero is-medium is-light is-bold">
  <!-- <div class="bd-book-pattern"></div> -->
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
      <div class="columns">
        <div class="column bd-is-cover">
          <div class="bd-book-cover">
          <strong class="tag is-link">Design 1 (Blue)</strong>
          <a href="https://bleedingedgepress.com/creating-interfaces-bulma/" target="_blank">
          <img src="/images/postcard.png" width="300" height="380" srcset="" alt="The official Bulma book cover">
          </a>
      </div>
      <div class="column bd-is-cover">
        <div class="bd-book-cover">
        <strong class="tag is-success">Design 2 (Blue)</strong>
        <a href="https://bleedingedgepress.com/creating-interfaces-bulma/" target="_blank">
        <img src="/images/postcard.png" width="300" height="380" 
        srcset="" alt="The official Bulma book cover">
        </a>
        </div>
    </div>
    <div class="column bd-is-cover">
    <div class="bd-book-cover">
    <strong class="tag is-warning">Design 3 (Yellow)</strong>
    <a href="https://bleedingedgepress.com/creating-interfaces-bulma/" target="_blank">
    <img src="/images/postcard.png" width="300" height="380" 
    srcset="" alt="The official Bulma book cover">
    </a>
    </div>
    </div>
</div>

<div class="bd-book-column bd-is-content">
    <div class="bd-book-content">
    <header class="block bd-book-header">
        <strong class="tag is-success">Free!</strong>
        <h3 class="title">Hiring Event Postcard! 😲</h3>
        <p class="subtitle is-6 has-text-grey">Our designer will customize the text for you,<br>based on three designs</p>
  </header>

  

<div class="block bd-book-description is-size-6">
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "5844080",
	formId: "bb432cb1-90ee-45b7-b060-779c9af03ad9"
});
</script>
  </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>