{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontFace     := replace .Site.Params.font.name " " "+" }}
{{- $fontSizes    := delimit .Site.Params.font.sizes "," }}
{{- $fontUrl      := printf "https://fonts.googleapis.com/css?family=%s:%s" $fontFace $fontSizes }}
<link rel="icon" type="image/png" href="{{ "images/favicon.png" | absURL }}" />
<link href="{{ $fontUrl }}" rel="stylesheet">
{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
<link rel="stylesheet" type="text/css" href="{{ "css/icons.css" | absURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/glider.min.css" | absURL }}">
<!-- theme debugging CSS -->
<style>{{ partial "debugprint.css" | safeCSS }}</style>
<style>

.bd-book-banner {
background-color: white;
position: relative;
}

.bd-book-columns {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.bd-book-cover {
    padding-top: .75rem;
    padding-right: 1rem;
    position: relative;
    text-align: center;
}

.bd-book-cover img {
 box-shadow: 0 1.5rem 1.5rem -1.25rem rgba(10,10,10,.05);
}

.bd-book-content, .bd-footer-star, .bd-footer-support {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1.5rem 1.5rem -1.25rem rgba(10,10,10,.05);
    display: block;
}

.bd-book-content {
    box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2);
    max-width: 520px;
    padding: 3rem;
}

.bd-book-header .tag {
    position: absolute;
    right: calc(100% + -36.25rem);
    top: .5rem;
}

.bd-book-cover .tag {
    position: absolute;
    right: calc(100% + -2.25rem);
    top: 1.5rem;
}

</style>
