<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}

  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    <!-- theme debugging -->
    {{/* partial "debugprint.html" .Params */}}
    {{/* partial "debugprint.html" site */}}
    {{/* partial "debugprint.html" .Resources */}}
    {{/* partial "debugprint.html" .File */}}
    <!-- end theme debugging -->

{{ block "main" . }}

{{ partial "navbar.html" . }}

<div class="hero">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="columns">
            <div class="column">
                  <h1 class="title is-2 has-text-left-tablet">{{ .Title }}</h1>
                  <h5 class="subtitle is-5 has-text-left-tablet">{{ .Params.subtitle }}
                  </h5>
                  <h5 class="subtitle is-6 has-text-left-tablet">{{ .Content }}</h5>
              
                <figure class="image is-5by3 box is-hidden-desktop">
                <img src="/images/postcard_preview.png">
                </figure>
              
            </div>
            
              <div class="column" id="hubspot-postcard-form">
                This should be the form.
              </div>
          </div>
          <div class="columns is-hidden-touch">
            <div class="column">
                <figure class="image is-5by3 box">
                <img src="/images/postcard_preview.png">
                </figure>
            </div>
            </div>
      </div>
  </div>
</div>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
  portalId: "5844080",
  formId: "bb432cb1-90ee-45b7-b060-779c9af03ad9",
  target: '#hubspot-postcard-form'
});
</script>


    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Params.sidebar }}
    {{ partial "single/sidebar.html" . }}
    {{ end }}

{{ end }}

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>
